<!DOCTYPE html>
<html>
<head>
    <title>Rossmann Sales Prediction</title>
</head>
<body>

    <h1>Rossmann Sales Prediction</h1>

    <form method="post" action="/predict">

        <label>Store:</label><br>
        <input type="number" name="Store" required><br><br>

        <label>Date:</label><br>
        <input type="date" name="Date" required><br><br>

        <label>Promo:</label><br>
        <select name="Promo">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select><br><br>

        <label>School Holiday:</label><br>
        <select name="SchoolHoliday">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select><br><br>

        <button type="submit">Predict Sales</button>

    </form>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}


    {% if prediction %}
        <h2>Predicted Sales: {{ prediction }}</h2>
    {% endif %}

</body>
</html>
